$box-shadow-main: 0 1rem 2.5rem rgba(0, 0, 0, 0.22);
$box-shadow-none: none;
$border-radius: 1rem;

$color-background: rgb(17, 20, 27);
$color-background-light: rgb(226, 232, 240);
$color-background-dark: rgb(6, 10, 17);
