@import 'aos/dist/aos.css';
@import 'fonts';
@import 'constants';
@import 'mixins/mixins';

::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;

	&-track {
		background-color: $color-background-dark;
	}

	&-thumb {
		background-color: $color-text-light;
		border-radius: $border-radius;
	}
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: image-set(
		url('$lib/images/bg-image-sm.webp') 1x,
		url('$lib/images/bg-image-lg.webp') 2x
	);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	color: $color-text-light;

	@import "./fonts";
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	max-width: 64rem;
	margin: 0 auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
	box-sizing: border-box;
}

footer {
	display: flex;
	position: fixed;
	width: 100%;
	bottom: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $color-background-dark;
	color: $color-text-light;
	padding: 0.5rem;

	p,
	span {
		text-align: center;
		padding: 0;
		margin: 0;
	}

	a {
		font-weight: bold;
	}

	@include respond-to(handhelds) {
		font-size: 0.8rem;
	}

	@include respond-to(medium-screens) {
		font-size: 0.75rem;
	}

	@include respond-to(wide-screens) {
		font-size: 0.9rem;
	}
}
